@page
@model FrontEnd.Pages.LotteryResultsModel
@{
}
@if (@Model.WinLotteryTickets != null)
{
    <table>
        @foreach (var t in @Model.WinLotteryTickets)
        {
            <tr>
                @foreach (var num in t.balls)
                {
                    <td>@num</td>
                }
            </tr>
        }
    </table>
}
else
{
    <h1>We do not have any results to show.</h1>}

Sales in current Period

@if (Model.CurrPeriodWinTickets?.Any() ?? false)
{
    <h2 class="background">Number of periods: @Model.CurrPeriodWinTickets.Count()</h2>
    <div class="background">
        <table>
            <tr>
                <td>Grand Prize <br /></td>
                <td>Started <br /></td>
                <td>Ended <br /></td>
                <td>Lvel0 <br /></td>
                <td>Lvel1 <br /></td>
                <td>Lvel2 <br /></td>
                <td>Lvel3 <br /></td>
                <td>Lvel4 <br /></td>
                <td>Lvel5 <br /></td>
                <td>Lvel6 <br /></td>
                <td>Lvel7 <br /></td>
                <td>Lvel8 <br /></td>
                <td>Lvel9 <br /></td>



            </tr>
            @foreach (var x in Model.CurrPeriodWinTickets)
            {
                <tr>
                    <td>@x.grandprizeamt</td>
                    <td>@x.startts</td>
                    <td>@x.endts</td>
                    <td>@x.level0</td>
                    <td>@x.level1</td>
                    <td>@x.level2</td>
                    <td>@x.level3</td>
                    <td>@x.level4</td>
                    <td>@x.level5</td>
                    <td>@x.level6</td>

                    <td>@x.level7</td>
                    <td>@x.level8</td>
                    <td>@x.level9</td>

                </tr>
            }
        </table>

    </div>
}