@page
@model FrontEnd.Pages.StoreModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ClassLib
@{
}

<html>
<head>

    <link rel="stylesheet" href="~/site.css" type="text/css" />
</head>
<body>
    <header>

        <h1>
            Welcome to the Ticket Store!
        </h1>

        <br />

        <button type="submit" class="btn reset"><a asp-page="/Index">Home</a></button>
        <br />

    </header>
    <main>
        <div class="background">
            <form method="post">
                <label for="name">Lucky Participant Name:</label>
                <input name="name" type="text" placeholder="Name" value="@Model.PlayerNombre" required />

                <h2>
                    How do you want to acquire your winning tickets?
                </h2>
                <button type="submit" asp-page-handler="NumberPick">Pick By Number</button>
                <button type="submit" asp-page-handler="QuickPick">Quick Pick</button>
            </form>



            @if (Model.Selection == "NumberPick")
            {
                <div class="">


                    <h2>
                        Number Pick
                    </h2>
                    <p>
                        I don't trust computers! If you want something done right, do it yourself.
                    </p>

                    <form method="post" asp-page-handler="NumberPickPurchase">
                        @for (int i = 0; i < 5; i++)
                        {
                            <label for="ticket">Number @(i + 1) :</label>
                            <input type="number" name="ticket" min="0" max="69" />

                        }
                        <label for="ticket">Powerball:</label>
                        <input id="powerball" type="number" name="ticket" min="0" max="26" />
                        <input type="hidden" value="@Model.PlayerNombre" name="name" />
                        <br />
                        <button type="submit">Let's win that price!</button>
                    </form>
                </div>
            }

            @if (Model.Selection == "QuickPick")
            {<div class="">
                    <h2>
                        Quick Pick
                    </h2>
                    <p>
                        Let the computer do it for me!
                    </p>

                    <form method="post" asp-page-handler="QuickPickPurchase">
                        <label for="numTickets">Purchase 1-1000 random tickets</label>
                        <input name="numTickets" type="number" min="0" max="1000" value="@Model.NumQuickPicks" />
                        <input type="hidden" value="@Model.PlayerNombre" name="name" />
                        <br />
                        <button type="submit">Give me the Tickets!</button>
                    </form>
                </div>
            }


            @if (Model.PurchasedTickets?.Any() ?? false)
            {
                <h2 class="">Number of purchased tickets: @Model.PurchasedTickets.Count()</h2>
                <div class="">
                    <table>
                        <tr>
                            <td class="ball">Pick <br />#1</td>
                            <td class="ball">Pick <br />#2</td>
                            <td class="ball">Pick <br />#3</td>
                            <td class="ball">Pick <br />#4</td>
                            <td class="ball">Pick <br />#5</td>
                            <td class="ball" id="powerball">Power<br />ball</td>
                            <td class="ball">Win<br />Level</td>
                            <td class="ball" id="win">Win<br />Amt$</td>
                        </tr>
                        @foreach (var x in Model.PurchasedTickets)
                        {
                            <tr>
                                <td>@x.balls[0]</td>
                                <td>@x.balls[1]</td>
                                <td>@x.balls[2]</td>
                                <td>@x.balls[3]</td>
                                <td>@x.balls[4]</td>
                                <td id="powerball">@x.powerBall</td>
                                @if (x.isGraded)
                                {
                                    <td>@x.winLevel</td>
                                    <td id="win">@x.winAmtDollars.ToString("c")</td>
                                }

                            </tr>
                        }
                    </table>

                </div>
            }
        </div>
    </main>
</body>
</html>
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    body {
        margin: 2em;
        background-color: #f26430;
        font-family:cursive;
    }

    h1, h2, p, td, label {
        font-family: sans-serif;
    }

    button {
        margin: .5em;
        background-color: #7a526e;
        border-style: solid;
        border-radius: 5px;
        border-color: black;
        color: #f3e8ee;
        padding: 10px 15px;
        text-align: center;
        font-size: 16px;
    }

        button:hover {
            background-color: #493142;
            color: #f3e8ee;
        }

    input[type=number] {
        padding: 10px;
        border-radius: 25px;
        border-color: black;
        width: 50px;
        height: 50px;
    }

        input[type=number]#quickpick {
            padding: 10px;
            border-radius: 50px;
            border-color: #e8c547;
            width: 50px;
            height: 50px;
        }
    input[type=text] {
        width: 10%;
        border-radius: 5px;
    }

    #powerball {
        background-color: red;
    }

    td {
        margin: .25em;
        padding: 10px;
        background-color: white;
        border-collapse: collapse;
        border: 1px solid black;
        border-radius: 100px;
    }
</style>