@page
@model FrontEnd.Pages.StoreModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ClassLib
@{
}

<html>
<head>
    <link rel="stylesheet" href="page.css" type="text/css" />
    <style>
        h1 {
            background-image: url(https://nypost.com/wp-content/uploads/sites/2/2019/08/powerball-winner.jpg?quality=80&strip=all);
            background-color: red;
            color: black;
            background-size: auto, auto;
            font-size: 10em;
            text-align: center;
            bottom-margin: 20px;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        body {
            margin: 2em;
            background-color: white;
        }

        h1, h2, p, td, label {
            font-family: sans-serif;
        }

        button {
            margin: .5em;
            background-color: red;
            border-style: solid;
            border-radius: 5px;
            border-color: black;
            color: white;
            padding: 10px 15px;
            text-align: center;
            font-size: 16px;
        }

            button:hover {
                background-color: black;
                color: white;
            }

        input[type=number] {
            padding: 10px;
            border-radius: 50%;
            border-color: black;
            text-align: center;
            height: 50px;
            width: 50px;
            box-shadow: inset -6.25px -6.25px 10px rgba(0,0,0,.25);
        }


        #powerball {
            background-color: red;
        }

        td {
            margin: .25em;
            text-align: center;
            width: 50px;
            height: 50px;
            background-color: white;
            border-collapse: collapse;
            border: 1px solid black;
            border-radius: 50%;
            box-shadow: inset -6.25px -6.25px 10px rgba(0,0,0,.25);
        }

        #win {
            background-color: green;
            color: white;
        }
    </style>
</head>
<body>
    <header>
        <h1>
            Welcome to the ticket store!
        </h1>
    </header>
    <main>
        <form method="post">
            <label for="name">Lucky Participant Name:</label>
            <input name="name" type="text" placeholder="Name" value="@Model.PlayerNombre" />

            <h2>
                How do you want to acquire your winner tickets?
            </h2>
            <button type="submit" asp-page-handler="NumberPick">Pick By Number</button>
            <button type="submit" asp-page-handler="QuickPick">Quick Pick</button>
        </form>

        @if (Model.Selection == "NumberPick")
        {
            <h2>
                Number Pick
            </h2>
            <p>
                I don't trust computers! If you want something done right, do it yourself.
            </p>

            <form method="post" asp-page-handler="NumberPickPurchase">
                @for (int i = 0; i < 5; i++)
                {
                    <label for="ticket">Number @(i + 1) :</label>
                    <input type="number" name="ticket" min="0" max="69" />
                }
                <label for="ticket">Powerball:</label>
                <input id="powerball" type="number" name="ticket" min="0" max="26" />
                <br />
                <button type="submit">Let's win that price!</button>
            </form>

            @if (Model.RecentPurchase == true)
            {
                <h2>Last Ticket bought</h2>
                <table>
                    <tr>
                        @for (int i = 0; i < 5; i++)
                        {
                            <td>@Model.LastTicket[i]</td>
                        }
                        <td id="powerball">@Model.LastTicket[5]</td>
                    </tr>
                </table>
            }
        }

        @if (Model.Selection == "QuickPick")
        {
            <h2>
                Quick Pick
            </h2>
            <p>
                Let the computer do it for me!
            </p>

            <form method="post" asp-page-handler="QuickPickPurchase">
                <label for="numTickets">Purchase 1-1000 random tickets</label>
                <input name="numTickets" type="number" min="0" max="1000" value="@Model.NumQuickPicks" />
                <input type="hidden" value="@Model.PlayerNombre" name="name" />
                <br />
                <button type="submit">Give me them Tickets!</button>
            </form>
        }
        @if (Model.PurchasedTickets?.Any() ?? false)
        {
            <table>
                <tr>
                    <td>Pick <br />#1</td>
                    <td>Pick <br />#2</td>
                    <td>Pick <br />#3</td>
                    <td>Pick <br />#4</td>
                    <td>Pick <br />#5</td>
                    <td id="powerball">Power<br />ball</td>
                    <td>Win<br />Level</td>
                    <td id="win">Win<br />Amt$</td>
                </tr>
                @foreach (var x in Model.PurchasedTickets)
                {
                    <tr>
                        <td>@x.balls[0]</td>
                        <td>@x.balls[1]</td>
                        <td>@x.balls[2]</td>
                        <td>@x.balls[3]</td>
                        <td>@x.balls[4]</td>
                        <td id="powerball">@x.powerBall</td>
                        @if (x.isGraded)
                        {
                            <td>@x.winLevel</td>
                            <td id="win">@x.winAmtDollars.ToString("c")</td>
                        }
                      
                    </tr>
                }
            </table>
            <p>Number of purchased tickets: @Model.PurchasedTickets.Count()</p>
        }
    </main>
</body>
</html>