@page "/Store"
@model FrontEnd.Pages.StoreModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ClassLib
@{
}

<html>
<head>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        body {
            margin: 2em;
            background-color: aqua;
        }

        h1, h2, p, td, label {
            font-family: sans-serif;
        }



        input[type=number] {
            padding: 10px;
            border-radius: 100px;
            border-color: black;
            width: 5%;
        }

        #powerball {
            background-color: red;
        }

        td {
            margin: .25em;
            padding: 10px;
            background-color: white;
            border-collapse: collapse;
            border: 1px solid black;
            border-radius: 100px;
        }

        .logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }



        .playBtn {
            border-radius: 12px;
            background-color: #fff;
            border: none;
            color: #000;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 2px 2px;
            cursor: pointer;
            width: 150px;
            transition: 0.3s all ease
        }

            .playBtn:hover {
                background-color: red;
                color: white;
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                transform: scale(1.1);
            }

        .name {
            width: 30%;
            height: 30px;
            margin: auto auto;
            border-radius: 20px;
            border: none;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
            padding-left: 30px;
            font-size: 20px;
            transition: 0.3s all ease
        }

            .name:hover {
                transform: scale(1.05);
            }

        @@keyframes jump {
            0% {
                transform: translate3d(0,0,0) scale3d(1,1,1);
            }

            40% {
                transform: translate3d(0,30%,0) scale3d(.6,1.3,1);
            }

            100% {
                transform: translate3d(0,100%,0) scale3d(1.3,.6,1);
            }
        }

        .jump {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            transform-origin: 50% 50%;
            animation: jump .8s linear alternate infinite;
        }


        img {
            border-radius: 30px;
        }

        .balls {
            transition: 0.3s all ease
        }

            .balls:hover {
                transform: scale(1.05)
            }


        .ticket {
            border: 2px dashed black;
            width: 25%;
            padding: 1em;
            background-color: lemonchiffon;
        }

        .center {
            margin-left: 0;
            margin-right: auto;
            width: 25%;
        }

        .ball {
            margin: .25em;
            text-align: center;
            width: 40px;
            height: 40px;
            background-color: white;
            border-collapse: collapse;
            border: 1px solid black;
            border-radius: 60%;
            box-shadow: inset -6.25px -6.25px 10px rgba(0,0,0,.25);
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">
            <div class="jump" style="display:inline-block; color:#fff; background:#05b; border-radius:98%; padding:1em;">
                <img src="http://u.cubeupload.com/Transgirlgogo/download1.jpeg" alt="powerball" width="350">
            </div>

        </div>
    </header>
    <main>



        <form method="post">
            <label for="name">Lucky Participant Name:</label>
            <input class="name" name="name" type="text" placeholder="Name" value="@Model.lotteryPurchaser1.PlayerName" />

            <h2>
                How do you want to acquire your winner tickets?
            </h2>
            <button class="playBtn" type="submit" asp-page-handler="NumberPick">Pick By Number</button>
            <button class="playBtn" type="submit" asp-page-handler="QuickPick">Quick Pick</button>
        </form>

        @if (Model.lotteryPurchaser1.incorrectPlayerName)
        {
            <div style="color:black; background-color:red;width:200px;">
                <p>Name is required!</p>
            </div>
        }

        @if (Model.Selection == "NumberPick")
        {
            <h2>
                Number Pick
            </h2>
            <p>
                I don't trust computers! If you want something done right, do it yourself.
            </p>

            @if (Model.lotteryPurchaser1.incorrectPlayerTicket)
            {
                <div style="color:black; background-color:red;width:600px;">
                    <p>Error in the ticket field. Please make sure to enter a number in every cell</p>
                </div>

            }

            <form method="post" asp-page-handler="NumberPickPurchase">
                @for (int i = 0; i < 5; i++)
                {
                    <label for="ticket">Number @(i + 1) :</label>
                    <input type="number" name="ticket" min="0" max="69" />
                }
                <label for="ticket">Powerball:</label>
                <input id="powerball" type="number" name="ticket" min="0" max="26" />
                <br />
                <br />
                <br />
                <button class="playBtn" type="submit">Let's win that price!</button>
            </form>
        }


        @if (Model.Selection == "QuickPick")
        {
            <h2>
                Quick Pick
            </h2>
            <p>
                Let the computer do it for me!
            </p>


            @if (Model.lotteryPurchaser1.incorrectPlayerTicket)
            {
                <div style="color:black; background-color:red;width:300px;">
                    <p>Error in the ticket field. Please try again</p>
                </div>
                
            }

            <form method="post" asp-page-handler="QuickPickPurchase">
                <label for="numTickets">Purchase 1-1000 random tickets</label>
                <input name="numTickets" type="number" min="0" max="1000" />
                <br />
                <br />
                <br />


                <button class="playBtn" type="submit">Give me the Tickets!</button>
            </form>
        }


        @if (Model.PurchasedTickets?.Any() ?? false)
        {
            <br />
            <br />



            <div class="ticket">

                <p>
                    Purchased Tickets
                </p>

                <table class="center">

                    @foreach (var x in Model.PurchasedTickets)
                    {
                        <tr>
                            <td class="ball">@x.balls[0]</td>
                            <td class="ball">@x.balls[1]</td>
                            <td class="ball">@x.balls[2]</td>
                            <td class="ball">@x.balls[3]</td>
                            <td class="ball">@x.balls[4]</td>
                            <td class="ball" id="powerball">@x.powerBall</td>
                            @if (x.isGraded)
                            {
                                <td>@x.winAmtDollars.ToString("c")</td>
                            }
                            else
                            {

                            }

                        </tr>

                    }
                </table>
                <p>Number of purchased tickets: @Model.PurchasedTickets.Count()</p>

            </div>

        }


    </main>
</body>
</html>