@page
@model FrontEnd.Pages.StoreModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ClassLib
@{
}

<html>
<head>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        body {
            margin: 2em;
            background-color: #ffffc4;
        }

        h1, h2, p, td, label {
            font-family: sans-serif;
        }

        button {
            margin: .5em;
            background-color: #b8b8b8;
            border-style: solid;
            border-radius: 5px;
            border-color: black;
            color: black;
            padding: 10px 15px;
            text-align: center;
            font-size: 16px;
        }

            button:hover {
                background-color: black;
                color: white;
            }

        input[type=number] {
            padding: 10px;
            border-radius: 100px;
            border-color: black;
            width: 5%;
        }

        #powerball {
            background-color: red;
        }

        td {
            margin: .25em;
            padding: 10px;
            background-color: white;
            border-collapse: collapse;
            border: 1px solid black;
            border-radius: 100px;
        }
        #errormsg{
            color: red;
        }
    </style>
</head>
<body>
    <header>
        <h1>
            Welcome to the ticket store!
        </h1>
    </header>
    <main>
        <form method="post">
            @if (Model.ParticipantName == null || Model.ParticipantName == "")
            {
            <input type="text" placeholder="Lucky Participant Name:" asp-for="ParticipantName" value="@Model.ParticipantName" />
            <span id="errormsg" asp-validation-for="ParticipantName"></span>
            }
            else
            {
                <p>Current Participant: @Model.ParticipantName</p>
            }
            @if (Model.Selection == null || Model.Selection == "")
            {

                <h2>
                    How do you want to acquire your winner tickets?
                </h2>
                <button type="submit" asp-page-handler="NumberPick">Pick By Number</button>
                <button type="submit" asp-page-handler="QuickPick">Quick Pick</button>

            }
        </form>


        @if (Model.Selection == "NumberPick")
        {
            <h2>
                Number Pick
            </h2>
            <form method="post" asp-page-handler="BackButton">
                <button type="submit">Maybe Not</button>
            </form>
            <p>
                I don't trust computers! If you want something done right, do it yourself.
            </p>

            <form method="post" asp-page-handler="NumberPickPurchase">
                @for (int i = 0; i < 5; i++)
                {
                    <label for="ticket">Number @(i + 1) :</label>
                    <input type="number" name="ticket" min="0" max="69" />
                }
                <label for="ticket">Powerball:</label>
                <input id="powerball" type="number" name="ticket" min="0" max="26" />
                <br />
                <button type="submit">Let's win that prize!</button>
            </form>

            @if (Model.RecentPurchase == true)
            {
                <h2>Last Ticket bought</h2>
                <table>
                    <tr>
                        @for (int i = 0; i < 5; i++)
                        {
                            <td>@Model.LastTicket[i]</td>
                        }
                        <td id="powerball">@Model.LastTicket[5]</td>
                    </tr>
                </table>
            }
        }

        @if (Model.Selection == "QuickPick")
        {
            <h2>
                Quick Pick
            </h2>
            <form method="post" asp-page-handler="BackButton">
                <button type="submit">Ill Do It Myself!</button>
            </form>
            <p>
                Let the computer do it for me!
            </p>


            <form method="post" asp-page-handler="QuickPickPurchase">
                <label for="numTickets">Purchase 1-1000 random tickets</label>
                <input name="numTickets" type="number" min="0" max="1000" value="@Model.NumQuickPicks" />
                <input type="hidden" value="@Model.ParticipantName" name="name" />
                <br />
                <button type="submit">Give me them Tickets!</button>
            </form>
        }
        <table>
            <tr>
                <td>Ball1</td>
                <td>Ball2</td>
                <td>Ball3</td>
                <td>Ball4</td>
                <td>Ball5</td>
                <td>PowerBall</td>
                <td>WinLevel</td>
                <td>WinAmt$</td>
            </tr>
            @if (Model.PurchasedTickets != null)
            {
                @foreach (var x in Model.PurchasedTickets)
                {
                    <tr>
                        <td>@x.balls[0]</td>
                        <td>@x.balls[1]</td>
                        <td>@x.balls[2]</td>
                        <td>@x.balls[3]</td>
                        <td>@x.balls[4]</td>
                        <td>@x.powerBall</td>
                        @if (x.isGraded)
                        {
                            <td>@x.winLevel</td>
                            <td>@x.winAmtDollars.ToString("c")</td>
                        }
                        else
                        {
                            <td />
                            <td />
                        }
                    </tr>
                }
            }
        </table>
        @if (Model.PurchasedTickets == null)
        {
            <p>Number of purchased tickets: 0</p>
        }
        else
        {
            <p>Number of purchased tickets: @Model.PurchasedTickets.Count()</p>
        }

    </main>
</body>
</html>